{# USES
    {% include 'header/h_site.twig' %}
#}

<div class="h_site">
    <div class="container-base">
        <div class="container-normal">
            <div class="h_site__info-box pb-400">
                <div class="row">
                    <div class="col-12 col-md-9 d-flex">
                        <div class="h_site__info">
                            {# <h2 class="h2 t-c-white">Aggregate</h2> #}
                            <h2 class="h2 t-c-white">AGGREGATE</h2>
                        </div>
                        <div class="h_site__info h_site__info--middle">
                            {# <h2 class="h2 t-c-white">Analyze</h2> #}
                            <h2 class="h2 t-c-white">ANALYZE</h2>
                        </div>
                        <div class="h_site__info">
                            {# <h2 class="h2 t-c-white">Actuate</h2> #}
                            <h2 class="h2 t-c-white">ACTUATE</h2>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                        <button class="btn btn--white">BESTELLEN</button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>