.m_demo{
    // background-image: url(../img/header_img.jpg);
    // background-position: center center;
    // background-size: cover;
    background-color: $c-black;
    // height: 650px;
    height: auto;
    width: 100%;
    position: relative;
    
    @include media-breakpoint-up(sm) {
        // height: 750px;
    }
    
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    
    &__info-container {
        margin: 0 auto;
        width: 100%;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
        }
    }
}