.m_image-text-left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &__text {
        display: block;
        height: auto;
        width: 100%;
        order: 2;
        flex-shrink: 0;
        
        @include media-breakpoint-up(md) {
            order: 1;
            width: 36%;
            height: 100%;
        }
        
        @include media-breakpoint-up(lg) {
            width: 22%;
        }
    }
    
    &__image{
        display: block;
        height: 450px;
        width: 100%;
        background-position: center center;
        background-size: cover;
        order: 1;
        flex-shrink: 0;
        
        @include media-breakpoint-up(sm) {
            height: 550px;
        }
        
        @include media-breakpoint-up(md) {
            height: 100%;
            width: 64%;
            order: 2;
        }
        
        @include media-breakpoint-up(lg) {
            width: 78%;
        }
    }
}