/******************************************************************
	COLORS
******************************************************************/

// grayscale
$c-black: #000000;
$c-white: #ffffff;
$c-gray: #545454;

// project
$c1-main: #393c41;

$c1-second: #287233;

// usage text: .t-c1-main,...
// usage background: .bg-c1-main,...
$theme-colors: () !default;
$theme-colors: map-merge(
   (
      "c-black": $c-black,
      "c-white": $c-white,
      "c-gray": $c-gray,
      "c1-main": $c1-main,
      "c1-second": $c1-second,
   ),
   $theme-colors
);


/******************************************************************
   FONTS
******************************************************************/

$f1-main: "RobotoRegular", sans-serif;
$f2-main: "RobotoMedium", sans-serif;
$f3-main: "RobotoBold", sans-serif;

/******************************************************************
   BORDER
******************************************************************/

// border-radius
$bd-radius-3: 3px;
$bd-radius-5: 5px;
$bd-radius-25: 25px;
$bd-radius-round: 50%;

// border-width
$bd-width-1: 1px;
$bd-width-2: 2px;
$bd-width-3: 3px;
$bd-width-4: 4px;

/******************************************************************
   TRANSITIONS_TIMING
******************************************************************/

$transition-150: 0.15s;
$transition-300: 0.3s;


/******************************************************************
   SHADOWS
******************************************************************/


/******************************************************************
   SPACERS
******************************************************************/

// https://getbootstrap.com/docs/4.1/utilities/spacing/
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
   (
      0: 0,
      25: (
         $spacer * 0.25,
      ),
      50: (
         $spacer * 0.5,
      ),
      75: (
         $spacer * 0.75,
      ),
      100: (
         $spacer * 1,
      ),
      125: (
         $spacer * 1.25,
      ),
      150: (
         $spacer * 1.5,
      ),
      200: (
         $spacer * 2,
      ),
      250: (
         $spacer * 2.5,
      ),
      300: (
         $spacer * 3,
      ),
      350: (
         $spacer * 3.5,
      ),
      400: (
         $spacer * 4,
      ),
      450: (
         $spacer * 4.5,
      ),
      500: (
         $spacer * 5,
      ),
      600: (
         $spacer * 6,
      ),
      800: (
         $spacer * 8,
      ),
      1000: (
         $spacer * 10,
      ),
      1200: (
         $spacer * 12,
      ),
      1500: (
         $spacer * 15,
      ),
      1800: (
         $spacer * 18,
      ),
      grid: (
         $spacer * 2,
      ),
   ),
   $spacers
);


/******************************************************************
   GRID
   https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
******************************************************************/

// Grid breakpoints
// @USAGE: @include media-breakpoint-up(sm) {}
// @USAGE: @include media-breakpoint-down(sm) {}
// @USAGE: @include media-breakpoint-only(sm) {}
// @USAGE: @include media-breakpoint-between(md, xl) {}
$grid-breakpoints: (
   xs: 0,
   sm: 481px,
   md: 961px,
   lg: 1361px,
   xl: 1921px,
) !default;
