{% extends "modules/m_image-text-right.twig" %}

{% block image %}
    background-image: url(./assets/img/smart_load.jpg);
{% endblock %}

{% block image_info_text %}
   <div class="m_image-text-right__image-info pr-100">
        <h2 class="h2 t-c-white">754.000</h2>
        <p class="p3 t-c-white mb-0 d-none d-md-inline">Staus im Jahr 2019</p>
        <p class="p3 t-c-white mb-0 d-inline d-md-none">Staus pro Jahr</p>
    </div>
    <div class="m_image-text-right__image-info m_image-text-right__image-info--middle px-100">
        <h2 class="h2 t-c-white">6.500 Minuten</h2>
        <p class="p3 t-c-white mb-0 d-none d-md-inline">pro Jahr einsparen</p>
        <p class="p3 t-c-white mb-0 d-inline d-md-none">Ersparnis</p>
    </div>
    <div class="m_image-text-right__image-info pl-100">
        <h2 class="h2 t-c-white">40 Mio.</h2>
        <p class="p3 t-c-white mb-0 d-none d-md-inline">Nutzer bis 2030</p>
        <p class="p3 t-c-white mb-0 d-inline d-md-none">Nutzer</p>
    </div>
{% endblock %}

{% block heading %}
    Schneller am Ziel
{% endblock %}

{% block sub_heading %}
    Smart Load Balancing®
{% endblock %}

{% block text %}
    Vertrauen Sie auf pacenote um effizienter an Ihr Ziel zu kommen. Dank Smart Load Balancing® können Sie sich einfach auf das Fahren konzentrieren, während pacenote Sie immer über die schnellste Route leitet. Bei hohem Verkehrsaufkommen reguliert pacenote das Fahrtempo aller Verkehrsteilnehmer, um den Verkehrsfluss sicherzustellen.<br><br>Zudem werden alle Nutzer auf die verfügbaren  Routen verteilt, um lange Staus aktiv zu vermeiden. Für hochfrequentierte Verbindungen, die nur über eine oder wenige Routen verfügen, findet eine zeitliche Entzerrung statt. Sobald Sie in der App Ihr Ziel und Ihre späteste Ankunftszeit hinterlegt haben, kann Ihnen das System eine Push-Mitteilung zum günstigsten Abfahrtszeitpunkt auf Ihr Smartphone senden.
{% endblock %}

{% block button_text %}
    BESTELLEN
{% endblock %}