{# USES
    {% include 'footer/f_site.twig' %}
#}

<div class="f_site">
    <div class="f_site__links-container">
        <div class="row mx-0">
            <div class="col-12 col-md-6 pt-600 px-150 px-sm-250 p-md-0 mb-400 mb-md-0 d-flex justify-content-center align-items-center flex-column">
                <a href="#" class="f_site__img-link">
                    <img class="" src="./assets/img/social/instagram.png" alt="Instagram Logo">
                </a>
                <a href="#" class="f_site__img-link">
                    <img class="" src="./assets/img/social/twitter.png" alt="Twitter Logo">
                </a>
                <a href="#" class="f_site__img-link">
                    <img class="" src="./assets/img/social/facebook.png" alt="Facebook Logo">
                </a>
                <a href="#" class="f_site__img-link">
                    <img class="" src="./assets/img/social/email.png" alt="E-Mail Logo">
                </a>
            </div>
            <div class="col-12 col-md-6 pb-600 px-150 px-sm-250 p-md-0 d-flex justify-content-center align-items-center flex-column">
                <a href="#" class="f_site__text-link link link--white h1">
                    Impressum
                </a>
                <a href="#" class="f_site__text-link link link--white h1">
                    Datenschutz
                </a>
                <a href="#" class="f_site__text-link link link--white h1">
                    Cookiehinweise
                </a>
            </div>
        </div>
    </div>
</div>