{# USES
    {% include 'modules/m_demo.twig' %}
#}

<div class="m_demo">
    <div class="m_demo__info-container">
        <div class="row">
            <div class="col-6">
                <h2 class="h1 t-c-white">Erleben Sie pacenote</h2>
                <p class="p1 t-c-white mb-200">Testen sie wie sich eine Fahrt mit pacenote anfühlt.</p>
                <button class="btn btn--white">Jetzt ausprobieren</button>
            </div>
            <div class="col-6 bg-c-white">
                <h1 class="h1">Image Placeholder</h1>
            </div>
        </div>
    </div>
</div>