{# USES
    {% include 'modules/m_demo.twig' %}
#}

<div class="m_demo">
    <div class="m_demo__info-container">
        <div class="row mx-0">
            <div class="col-12 col-md-6  py-600 py-md-400 px-150 px-sm-250 p-md-0">
                <h2 class="h1 t-c-white">Erleben Sie pacenote</h2>
                <p class="p1 t-c-white mb-200">Testen sie wie sich eine Fahrt mit pacenote anfühlt.</p>
                <button class="btn btn--white d-none d-md-block">Jetzt Demo starten</button>
                <div class="m_demo__mobile-button d-flex justify-content-center d-md-none">
                    <button class="btn btn--white">Jetzt Viedo ansehen</button>
                </div>
            </div>
            <div class="col-md-6 bg-c-white d-none d-md-block">
                <h1 class="h1">Image Placeholder</h1>
            </div>
        </div>
    </div>
</div>