{# USES
    {% include 'modules/m_image-text-left.twig' %}
#}

<div class="m_image-text-left">
    <div class="m_image-text-left__text d-flex flex-column justify-content-between pt-300 pt-sm-400 px-150 px-sm-250">
        <div class="mb-150 mb-sm-200 mb-md-0">
            <h2 class="h3">{% block heading %}Sicherheit{% endblock %}</h2>
            <h3 class="h1">{% block sub_heading %}Safe Road®{% endblock %}</h3>
            <p class="p2 mb-0">{% block text %}Subway tile hammock occupy, ramps copper mug id actually consequat heirloom. Brooklyn cillum paleo brunch snackwave, put a bird on it VHS stumptown. Jianbing tacos fingerstache 90's quinoa farm-to-table put a bird on it before they sold out synth raw denim lo-fi lyft. Aute exercitation aliquip gentrify, deserunt shabby chic neutra taxidermy. Ipsum man bun hella raw denim, laborum hell of fingerstache polaroid kickstarter tofu chillwave master cleanse. Dreamcatcher excepteur ea man braid hashtag gochujang, everyday carry beard.{% endblock %}</p>
        </div>
        <div class="mb-150 d-flex justify-content-center">
            <button class="btn btn--black">{% block button_text %}BESTELLEN{% endblock %}</button>
        </div>
    </div>
    <div class="m_image-text-left__image" style="{% block image %}background-image: url(./assets/img/header_img.png);{% endblock %}">
    </div>
</div>