{# USES
    {% include 'modules/m_image-text-right.twig' %}
#}

<div class="m_image-text-right">
    <div class="m_image-text-right__image">
    </div>
    <div class="m_image-text-right__text d-flex flex-column justify-content-between pt-400 px-250">
        <div>
            <h2 class="h3">Sicherheit</h2>
            <h3 class="h1">Safe Road®</h3>
            <p class="p1">Subway tile hammock occupy, ramps copper mug id actually consequat heirloom. Brooklyn cillum paleo brunch snackwave, put a bird on it VHS stumptown. Jianbing tacos fingerstache 90's quinoa farm-to-table put a bird on it before they sold out synth raw denim lo-fi lyft. Aute exercitation aliquip gentrify, deserunt shabby chic neutra taxidermy. Ipsum man bun hella raw denim, laborum hell of fingerstache polaroid kickstarter tofu chillwave master cleanse. Dreamcatcher excepteur ea man braid hashtag gochujang, everyday carry beard.</p>
        </div>
        <div class="mb-150 d-flex justify-content-center">
            <button class="btn btn--black">BESTELLEN</button>
        </div>
    </div>
</div>