{# USES
    {% include 'modules/m_image-text-left.twig' %}
#}

<div class="m_image-text-left">
    <div class="m_image-text-left__text mt-400">
        <h2 class="h3">Sicherheit</h2>
        <h3 class="h1">Safe Road</h3>
    </div>
    <div class="m_image-text-left__image">
    </div>
</div>