{# USES
    {% include 'modules/m_image-text-left.twig' %}
#}

<div class="m_image-text-left">
    <div class="m_image-text-left__text mt-400 mx-150">
        <h2 class="h3">Sicherheit</h2>
        <h3 class="h1">Safe Road®</h3>
        <p class="p1">Subway tile hammock occupy, ramps copper mug id actually consequat heirloom. Brooklyn cillum paleo brunch snackwave, put a bird on it VHS stumptown. Jianbing tacos fingerstache 90's quinoa farm-to-table put a bird on it before they sold out synth raw denim lo-fi lyft. Aute exercitation aliquip gentrify, deserunt shabby chic neutra taxidermy. Ipsum man bun hella raw denim, laborum hell of fingerstache polaroid kickstarter tofu chillwave master cleanse. Dreamcatcher excepteur ea man braid hashtag gochujang, everyday carry beard.</p>
    </div>
    <div class="m_image-text-left__image">
    </div>
</div>