{# USES
    {% include 'modules/m_pacenote-driver.twig' %}
#}

<div class="m_pacenote-driver">
    <div class="m_pacenote-driver__info-container">
        <div class="row mx-0">
            <div class="col-md-6 bg-c-white d-none d-md-block">
                <h1 class="h1">iphone here</h1>
            </div>
            <div class="col-12 col-md-6  py-300 py-sm-400 px-150 px-sm-250 p-md-0">
            </div>
        </div>
    </div>
</div>