{# USES
    {% include 'modules/m_pacenote-driver.twig' %}
#}

<div class="m_pacenote-driver">
    <div class="m_pacenote-driver__info-container">
        <div class="row no-gutters mb-300 mb-md-500">
            <div class="col-12 col-md-7 offset-md-5 pt-300 pt-sm-400 px-150 px-sm-250 p-md-0">
                <div class="row">
                    <div class="col-12 col-md-9 offset-md-3">
                        <div class="m_pacenote-driver__heddings">
                            <h2 class="h3 t-c-white">ALLES IM BLICK</h2>
                            <h3 class="h1 t-c-white mb-md-300">pacenote DRIVER</h3>
                            <p class="p3 t-c-white">Egal wo Sie sind, loggen Sie sich einfach ein und behalten Sie so alle Daten zu Ihnen und Ihren Fahrzeugen im Blick.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-5 d-none d-md-flex flex-column justify-content-center">
                <img class="m_pacenote-driver__phone" src="./assets/img/pacenote_driver_phone.png" alt="Phone with the pacenote logo on screen">
            </div>
            <div class="col-12 col-md-7 pb-300 pb-sm-400 px-150 px-sm-250 p-md-0">
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/cars.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Fahrzeuge konfigurieren</h4>
                                <p class="p3 t-c-white">Behalten Sie alle Einstellungen zu Ihren Fahrzeugen im Blick.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/route.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Gefahrene Strecken ansehen</h4>
                                <p class="p3 t-c-white">Fahrt als Video nachverfolgen, 3D Karte mit Visualisierung der Fahrt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/speed.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Service Daten</h4>
                                <p class="p3 t-c-white">Gefahrene Kilometer, Spritverbrauch, Fahrzeugabnutzung.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/chart.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Statistiken</h4>
                                <p class="p3 t-c-white">Wochen-, Monats- und Jahres Statistiken zu Verschleiss, Fahrtzeiten.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/location.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Beliebte Orte</h4>
                                <p class="p3 t-c-white">Arbeit, Zuhause, Shops, Mitfahrer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m_pacenote-driver__bullet-point">
                    <div class="row">
                        <div class="col-3">
                            <img class="m_pacenote-driver__bullet-point-img" src="./assets/img/pacenote_driver_icons/passenger.png">
                        </div>
                        <div class="col-9">
                            <div class="m_pacenote-driver__bullet-point-text">
                                <h4 class="h4 t-c-white">Passenger</h4>
                                <p class="p3 t-c-white">Überblck über meine Mitfahrer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>