{# USES
    {% include 'modules/m_pacenote-driver.twig' %}
#}

<div class="m_pacenote-driver">
    <div class="m_pacenote-driver__info-container">
        <div class="row mx-0">
            <div class="col-md-6 bg-c-white d-none d-md-block">
                <img src="" alt="">
            </div>
            <div class="col-12 col-md-6  py-300 py-sm-400 px-150 px-sm-250 p-md-0">
                <div class="m_pacenote-driver__bullet-point">
                    
                </div>
            </div>
        </div>
    </div>
</div>