<!DOCTYPE HTML>
<html>
    {% block html_head %}
        {% include 'html-head.twig' %}
    {% endblock %}
	<body>
        {% block header %}
            <header class="section">
                {% include "header/h_site.twig" %}
            </header>
        {% endblock %}

        {% block content %}
            <section class="section">
                {% include "modules/m_example-module.twig" %}
            </section>
        {% endblock %}

        {% block footer %}

        {% endblock %}

        <script type="text/javascript" src="./assets/js/vendor/vendor.js"></script>
        {# <script type="text/javascript" src="./assets/js/vendor/vendor.min.js"></script> #}
        <script type="text/javascript" src="./assets/js/main.js"></script>
        {# <script type="text/javascript" src="./assets/js/main.min.js"></script> #}
	</body>
</html>