<!DOCTYPE HTML>
<html>
    {% block html_head %}
        {% include 'html-head.twig' %}
    {% endblock %}
	<body>
        <header>
            <nav>
                {% block navigation %}

                {% endblock %}
            </nav>
        </header>
        
        {% block content %}

        {% endblock %}


        {% block footer %}

        {% endblock %}

        <script type="text/javascript" src="./assets/js/vendor/vendor.js"></script>
        {# <script type="text/javascript" src="./assets/js/vendor/vendor.min.js"></script> #}
        <script type="text/javascript" src="./assets/js/main.js"></script>
        {# <script type="text/javascript" src="./assets/js/main.min.js"></script> #}
	</body>
</html>