<!DOCTYPE HTML>
<html>
    {% block html_head %}
        {% include 'html-head.twig' %}
    {% endblock %}
	<body>
        {% block header %}
            <header class="section">
                {% include "header/h_site.twig" %}
            </header>
        {% endblock %}

        {% block content %}
            <section class="section">
                {% include 'modules/m_image-text-left.twig' %}
            </section>
            <section class="section">
                {% include 'modules/m_image-text-right.twig' %}
            </section>
            <section class="section">
                {% include 'modules/m_demo.twig' %}
            </section>
            <section class="section">
                {% include 'modules/m_pacenote-driver.twig' %}
            </section>
        {% endblock %}

        {% block footer %}

        {% endblock %}

        {% block overlays %}
            {% include "overlays/o_logo.twig" %}
        {% endblock %}

        <script type="text/javascript" src="./assets/js/vendor/vendor.js"></script>
        {# <script type="text/javascript" src="./assets/js/vendor/vendor.min.js"></script> #}
        <script type="text/javascript" src="./assets/js/main.js"></script>
        {# <script type="text/javascript" src="./assets/js/main.min.js"></script> #}
	</body>
</html>